/* html { */
/*   background-color: #252A34; */
/*   background-image: -webkit-linear-gradient(65deg, #08D9D6 50%, #252A34 50%); */
/*   min-height: 1000px; */
/*   font-family: 'helvetica neue'; */
/* } */


body {
    background-color: #252a34;
    background-image: -webkit-linear-gradient(65deg, #08d9d6 50%, #252a34 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
    
}


h1 {
  color: #fff;
  padding: 10px;
  font-weight: bold;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #08D9D6;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #08D9D6;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form { /* forms have a default display property of block */
    display: inline;
}


.addform .deleteform {
    text-align: center;
    margin-left: 20px;
}


.addbtn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #08d9d6;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.newbtn {
    min-width: 198px;
    color: black;
    /* min-height: 30px; */
    /* font-weight: normal; */
    /* color: white; */
    /* padding: 10px; */
    /* border-color: black; */
    /* max-width: 400px; */
    position: relative;
    top: -50px;
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.listbtn {
    min-width: 198px;
    color: black;
    /* min-height: 30px; */
    /* font-weight: normal; */
    /* color: white; */
    /* padding: 10px; */
    /* border-color: black; */
    /* max-width: 400px; */
    /* top: -136.5px; */
    position: relative;
    top: -50px;
    left: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

}

.newbtn:hover {
    background-color: #252a34;
    
}

.listbtn:hover {
    background-color: #252a34;
    
}

.buttondiv {
    background: transparent;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #08D9D6;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
